[submodule "BWEnv/include/libzmq"]
	path = BWEnv/include/libzmq
	url = git@github.com:torchcraft/libzmq
[submodule "BWEnv/include/czmq"]
	path = BWEnv/include/czmq
	url = git@github.com:torchcraft/czmq
